/* Add custom styles here */
body {

  font-family: "Arial"
}

.navbar-brand {
  font-size: 4rem;
}


.brokerlogo{
 
  padding: 0% 7%;
  width: 400%;
  text-align: left;
}

.stars {
  text-align: left;
  padding:0% 7%;
  color: black;
}




 #toppage {

  padding: 1% 15%;
  background-color: #27374D;
  color: white;
}

.gamcare{
  width:20%;
}

.navbar {
  background-color: #27374D;
}

.nav-link:hover {
  color:#cef4ab;
}

.navbar-brand:hover {
  color:#cef4ab;
}


 hr {

  width:10%;
 }

.logo{
  
  width:7%;
  margin-right: 4px;
  margin-bottom:2px;
}

.navbar {
  padding-bottom: 2rem;
  color: white;
}

 .navbar-brand{

  font-size: 3rem;
  font-family: "Arial";
  color: white;
  
 }
 
   


 .nav-link {
  font-size:1rem;
  font-family: "Arial";
  font-weight:bold;
  text-decoration: none;
  color: white;
  text-align:right;
  padding: 3%;
  


 }

 .download-button{
  margin: 10% 0% 10% 0%;
  text-align:center;
  font-size:1rem;
  
  
}

.headertext
{
  margin-top:30px;
  color: black;
  font-size: 1.6rem;
  line-height: 2;
  font-family: Arial;
  text-align:left;
  padding: 0% 7%;
}

.secondheader {
  margin-top:40px;
  color: black;
  font-size: 1rem;
  line-height: 2;
  font-family: Arial;
  text-align:left;
  padding: 0% 7%;
}


.headertext2
{
  margin-top:30px;
  color: black;
  font-size: 2.5rem;
  line-height: 2;
  font-family: Arial;
}


h1{
  font-family: "Arial";
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  color: black;
  
}


h2{

  font-family: "Arial";
  
  font-size: 1.2rem;
  line-height: 1.5;
}

h3{
  font-family: "Arial";
  font-weight:bold;
  font-size: 1.1rem;
  line-height: 1.5;
  color: black;
}


.title-image{
  
  width: 60%;
  margin-left:20px;
  
}



/*- Features Section */

#features{
  
  background-color: #C4DFDF;
  font-family: 'Arial';
  padding: 0 10%;
  color: black;
  font-size: 0.8rem;

      }

.feature-box {
  text-align:center;
  padding: 5%;

}

.icon{

  color: black;
  margin-bottom: 1rem;


  }

.icon:hover {
color: #cef4ab;

}



/*- Testimonials Section */

#testimonials {

  padding: 5% 10%;
  text-align:center;
  background-color: white;
  color: black;
  

  }

  .testimonialstext {

      font-family: "Arial";
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.5;
      color:  black;
      padding: 0% 0%;
      margin-bottom: 40px;

  }
  
  .testimonial-image {
  
      width: 150px;
      height: 150px;
      border-radius:20%;
      margin:15px;
      text-align: center;
  }

  .testimonial-text{
      text-align: center;
      font-family: 'Arial';
      font-size: 1rem;
      margin-bottom:60px;
      color:  black;
              
  }
  
  .personname {

      width:100%;
      text-align: center;
      font-family: 'Arial';
      font-size: 0.8rem;
      font-style: italic;
      color:  black;
          }
          
          
          
      hr {
          margin:0px;
          color:#1d113a;
          background-color:#1d113a;
          
      }



  
  /*- Press Section */
  
  #press {
  
       
      text-align:center;
      padding: 5% 10%;
      background-color:white;
            
          
      
  
  }


  .logotext {
      font-family: "Arial";
      text-align: center;
      font-size: 1rem;
      line-height: 1.5;
      color: black;

      padding: 0% 0%;
      
  }

  .press-logo{

      width: 40%;
      border-radius:0%;

  }
    


  .presstext {

      font-family: "Arial";
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.5;
     color: black;
      padding: 0% 0%;
      margin-bottom: 40px;
      padding-top: 3%;
      

  }

  .presstext2{

      font-family: "Arial";
      text-align: center;
      font-size: 1.7rem;
      line-height: 1.5;
      color: black;
      padding: 5% 0% 0% 0%;

  }


  .firstlogo {
padding:0%;

  }

  .secondlogo {
      padding:0%;

  }



  /*- Pricing */


#pricing {

  padding: 5% 10%;
  background-color: #DDE6ED;
  color:black;
  
  
}

#button1{
  text-align:center;
}

#button2{
  text-align:center;
}
.signup-button {

  
  font-family: 'Arial';
  text-align: center;
  font-size: 0.8rem;
}

.pricing-column {
padding: 3% 2%;

  font-family: Arial;
  color:black;
  

}

.pricingheader {
  color:black;
  font-size: 1.4rem;
 
  font-family: Arial;
  text-align:center;
  
}


.pricingsecond {

  color:black;
  font-size: 0.9rem;
  
  font-family: Arial;
  text-align:center;

}


.pricingcost{

 
  font-family: Arial;
  color:blue;
  font-size: 1.2rem;
  font-weight: bold;
  text-align:center;

}

.pricingcost2 {

  font-family: Arial;
  color:black;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: darkblue;
  text-align:center;
}

.planname {
 
  font-family: Arial;
  color: #13003F;
  font-size: 1.4rem;
  font-weight: bold;
  text-align:center;

}

.icontick {

  color: #13003F;
  
}

.card-body {
  background-color: white;
  color: #13003F;
  text-align:left;
}

.card-header {

  background-color: white;
}

.card {
  color:white;
  background-color: white;

}

.pricingaccounts {
  padding: 1%;
  
}


.pricingaccounts {
  text-align: center;
  font-size: 1rem;
}


.pricingaccounts2 {

text-align: center;
font-size: 0.8rem;
}



/*- Call To Action */



#cta {
  padding: 7% 15%;
  background-color: #423365 ;
  color: white;
  text-align:center;
  
}

.cta-heading {
  color: white;
  font-family: "Arial";
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

/*- Footer */



.socialicon {

  margin:20px 10px;
  color:black;
  border-style: solid;
  border-radius: 5px;
  padding: 2%;
  

}

.copyright {

  color:black;
  font-family: arial;
  font-size: 0.6rem;
}

.footerlogo {

  width:50%;
  
  
  

}

@media (min-width:1028px) {

  


  #title {
  
      background-color: white;
      text-align:center;
      color: black;
      padding: 4% 15%;
  }


  #toppage {

      
      background-color: #27374D;
      color: white;
      font-size: 1.5rem;
      font-family: arial;
      text-decoration: none;
  }

  .navbar{
      padding: 1% 20%;
  }

  .navbar-brand {
      font-size: 3rem;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
      
  .navbar-nav > li >a{
      color:white;
    }




a {
  color: black;
  text-decoration: none;
}

  .headertext
  {
      
      color: black;
      font-size: 2.5rem;
      line-height: 2;
      font-family: Arial;
      text-align:left;
      
  }

  .secondheader {
      margin-top:40px;
      color: black;
      font-size: 1rem;
      line-height: 2;
      font-family: Arial;
      text-align:left;
      
  }





.download-button{
margin: 5% 0% 6% 0%;
text-align:enter;
font-size:1.8rem;



}

h3{
  font-family: "Arial";
  font-weight:bold;
  font-size: 1.5rem;
  line-height: 1.2;
  color: black;
}


#features{
  
  background-color: #C4DFDF;
  font-family: 'Arial';
  padding: 4% 15%;
  color: black;

      }


      #testimonials {

          padding: 7% 15%;
          text-align:center;
          background-color: white;
          color: black;
          
      
          }

          .testimonialstext {

              font-family: "Arial";
              text-align: center;
              font-size: 2.5rem;
              line-height: 1.5;
              color: black;
                             
              margin-bottom: 40px;
      
          }
          
          .testimonial-image {
          
              width: 150px;
              height: 150px;
              border-radius:20%;
              margin:15px;
              text-align: center;
          }
      
          .testimonial-text{
              text-align: center;
              font-family: 'Arial';
              font-size: 1.2rem;
              margin-bottom:60px;
              padding:0 8%;
              
              color: black;
                      
          }
          
          .personname {
      
              width:100%;
              text-align: center;
              font-family: 'Arial';
              font-size: 0.8rem;
              font-style: italic;
              color: black;
                  }

                  .cta-heading {
                      color:black;
                      font-family: "Arial";
                      font-weight: 900;
                      font-size: 2rem;
                      line-height: 2;
                      margin-bottom: 30px;
                  }

                  #press {
  
       
                      text-align:center;
                      padding: 5% 15%;
                      background-color: white;
                      color:black;

                            
                          
                      
                  
                  }


                  .presstext {

                      font-family: "Arial";
                      text-align: center;
                      font-size: 2rem;
                      line-height: 1.5;
                      color:black;
                      padding: 0% 0%;
                      margin-bottom: 40px;
                      padding-top: 3%;
                      
              
                  }
              
                  .presstext2{
              
                      font-family: "Arial";
                      text-align: center;
                      font-size: 1.7rem;
                      line-height: 1.5;
                      color:black;
                      padding: 5% 0% 0% 0%;
              
                  }

                  .logotext{
                      color:black;

                  }

                  .special-container{

                      padding: 1% 20%;
                      

                  }


                  .special-container2{
                      padding:1% 20%;
                      
                  }

                  .nav-link {
                      font-size:2rem;
                      font-family: "Arial";
                      text-decoration: none;
                      color:  white;
                      text-align:right;
                      padding:0%;
                  }
                      
                      .press-logo{

                          width: 80%;
                          

                      }
                      
                         

                         .footerlogo {

                          width:20%;
                          right: 20px;
                          
                          
                          
                      
                      }



                      #pricing {

                          padding: 5% 20%;
                          background-color: #C4DFDF;
                          
                      }
                      
                      .signup-button {
                      
                          
                          font-family: 'Arial';
                          font-size: 1rem;
                      }
                      
                      .pricing-column {
                      padding: 4% 1%;
                      
                          font-family: Arial;
                          color:black;
                          
                      
                      }
                      
                      .pricingheader {
                          color:black;
                          font-size: 2rem;                           
                          font-family: Arial;
                          text-align:left;
                          
                          
                      }
                      
                      
                      .pricingsecond {
                      
                          color:black;
                          font-size: 1.2rem;                            
                          font-family: Arial;
                          text-align:left;
                          
                      
                      }

                      .pricingaccounts {
                          text-align: center;
                          font-size: 1rem;
                      }


.pricingaccounts2 {

  text-align: center;
  font-size: 0.8rem;

}



.socialicon {

  margin:20px 10px;
  color:black;
  border-style: solid;
  border-radius: 5px;
  padding: 2%;
  

}

.copyright {

  color:black;
  font-family: arial;
  font-size: 0.6rem;
}

#fullreview {

  padding: 5% 20%;
  background-color: white;
  
}

.signup-button {

  
  font-family: 'Arial';
}

.pricing-column {
padding: 1% 1%;

  font-family: Arial;
  color:black;
  

}

.pricingheader {
  color:black;
  font-size: 2rem;                           
  font-family: Arial;
  text-align:left;
  
  
}


.pricingsecond {

  color:black;
  font-size: 1.2rem;                            
  font-family: Arial;
  text-align:left;
  

}

.pricingaccounts {
  text-align: center;
  font-size: 1rem;
}


.pricingaccounts2 {

text-align: center;
font-size: 0.8rem;
}

#footer{

  padding: 3% 15%;
  background-color: white;
  text-align: center;
  color: black;
  
}

.footer1{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.brokername{
  color:black;
}




  .brokerimage {
    width:10%;
  }
  
  section {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .row {
    margin-bottom: 40px; /* Increase the margin value for larger spacing */
  }
  
  .row + .row {
    margin-top: 40px; /* Increase the margin value for larger spacing */
  }

  .text-muted {
    margin-top: 20px;
  }
  
  .card-subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1% 0%;
  }
 
  .brokername{
    color:black;
}

.card {
    margin-bottom: 30px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}
.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa!important
}
.table-product td{
    border-top: 0px solid #dee2e6 !important;
    color: #728299!important;
}

.dexter-button {
    font-size: 1rem;
}

.nav-link:hover {
  color:#cef4ab;
}

.navbar-brand:hover {
  color:#cef4ab;
}

.gamcare{
  width:30%;
}
}